@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 59 130 246;
    --color-secondary: 209 213 219;
    --color-success: 34 197 94;
    --color-warning: 234 179 8;
    --color-danger: 239 68 68;
    --color-disabled: 107 114 128;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

body {
  @apply bg-slate-800 flex-col min-w-[320px] text-white h-screen flex place-items-center;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply font-semibold;
}

input,
select {
  @apply bg-slate-500 p-2;
}

input.ng-invalid.ng-touched {
  @apply border border-red-600;
}

a {
  @apply cursor-pointer;
}

router-outlet {
  @apply hidden;
}

a.router-link {
  @apply transition-all hover:font-bold;
}

a.router-link-active {
  @apply font-bold underline;
}

button {
  @apply rounded border-2 p-2 font-semibold transition-all hover:brightness-125 disabled:cursor-not-allowed disabled:opacity-60 disabled:hover:brightness-100;
}

button.primary:not(.outlined) {
  @apply border-primary bg-primary;
}

button.secondary:not(.outlined) {
  @apply border-secondary bg-secondary;
}

button.success:not(.outlined) {
  @apply border-success bg-success;
}

button.warning:not(.outlined) {
  @apply border-warning bg-warning;
}

button.danger:not(.outlined) {
  @apply border-danger bg-danger;
}

button.disabled:not(.outlined) {
  @apply border-disabled bg-disabled;
}

button.primary.outlined {
  @apply border-primary text-primary hover:bg-primary hover:text-white;
}

button.secondary.outlined {
  @apply border-secondary text-secondary hover:bg-secondary hover:text-white;
}

button.success.outlined {
  @apply border-success text-success hover:bg-success hover:text-white;
}

button.warning.outlined {
  @apply border-warning text-warning hover:bg-warning hover:text-white;
}

button.danger.outlined {
  @apply border-danger text-danger hover:bg-danger hover:text-white;
}

button.disabled.outlined {
  @apply border-disabled text-disabled;
}

button.sm {
  @apply p-1;
}

button.full {
  @apply w-full p-2;
}

button.lg {
  @apply p-3;
}

button i {
  @apply ml-2;
}

.radio-container {
  @apply relative mb-2 flex cursor-pointer items-center gap-4 align-middle;
}

.radio-container .label-title {
  @apply pl-10;
}

.radio-container input {
  @apply absolute opacity-0;
}

.checkmark {
  @apply absolute h-5 w-5 rounded-full bg-gray-300 transition-colors;
}

.radio-container:hover input ~ .checkmark {
  @apply bg-gray-400;
}

.radio-container input:checked ~ .checkmark {
  @apply bg-primary;
}

.radio-container input:checked ~ .checkmark:after {
  @apply block;
}

.radio-container .checkmark:after {
  @apply absolute top-2/4 left-2/4 hidden h-2 w-2 translate-x-[-50%] translate-y-[-50%] transform rounded-full bg-white transition-all content-[''];
}
